<div class="row mb-3">
    <div class="col-4">
        <!--RADIO BUTTONS-->
        <label class="radio-inline ml-2">
            <input type="radio" name="filter" [(ngModel)]="filtro"  [value]="undefined" (ngModelChange)="seleccionarFrutas()">Todas
        </label>
        <label class="radio-inline ml-2">
            <input type="radio" name="filter" [(ngModel)]="filtro"  [value]="true" (ngModelChange)="seleccionarFrutas()">En Oferta
        </label>
        <label class="radio-inline ml-2">
            <input type="radio" name="filter" [(ngModel)]="filtro"  [value]="false" (ngModelChange)="seleccionarFrutas()">Sin Oferta
        </label>
    </div>
    <div class="col-6">
            <form>
                    <input type="search" [(ngModel)]="txtBusqueda" [ngModelOptions]="{standalone: true}" (keyup)="buscar()" placeholder="Busca por nombre...">
                    <i class="fa fa-search ml-2"></i>
                </form>
    </div>
    <div class="col-2">
        <a [routerLink]="['../pagina-detalle', -1 ]" class="btn btn-outline-primary btn-block">Crear</a>
    </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="table-wrapper-scroll-y">
      <table class="table">
          <thead>
              <tr>
                  <th>id</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Calorias</th>
                  <th>Oferta</th>
                  <th>Descuento</th>
                  <th>Colores</th>
                  <th>Imagen</th>
                  <th>Operaciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let f of frutas | frutasOferta: filtro" destacar>
                  <td>{{f.id}}</td>
                  <td class="text-primary">{{f.nombre}}</td>
                  <td>{{f.precio}}€</td>
                  <td>{{f.calorias}}Kcal</td>
                  <td class="text-center"><i class="{{f.oferta?'fas fa-check text-info':'fas fa-times text-danger'}}"></i></td>
                  <td>{{f.descuento}}%</td>
                  <td>{{f.colores}}</td>
                  <td><img src="{{f.imagen}}" alt="imagen de la fruta {{ f.nombre }}" class="imagenTabla"></td>
                  <td class="text-center">
                      <a [routerLink]="['../pagina-detalle', f.id ]"><i class="fas fa-pencil-alt mr-4 text-primary"></i></a>
                      <a (click)="eliminar(f.id)"><i class="fas fa-trash-alt text-danger"></i></a>
                  </td>
              </tr>
          </tbody>
      </table>
      <p *ngIf="(frutas | frutasOferta: filtro).length === 0" class="mt-2 text-info">No hay frutas que coincidan con el criterio de busqueda</p>
    </div><!-- .table-scroll -->
  </div><!-- .col-10 -->
    
</div><!-- .row -->
