
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
      <a [routerLink]="['comparador']"><img src="../favicon.ico" class="favicon"></a>
    </h5>
    <nav class="my-2 my-md-0 mr-md-3">    
      <a class="btn btn-outline-danger" routerLinkActive="activo" [routerLink]="['gestor-frutas']">Zona privada</a>
      <a class="btn btn-outline-primary ml-2" *ngIf="!isLogged()" routerLinkActive="activo" [routerLink]="['login']">Iniciar sesion</a>
      <a class="btn btn-outline-primary ml-2" *ngIf="isLogged()" routerLinkActive="activo" [routerLink]="['login']" (click)="logout()">Cerrar sesion</a>
    </nav>
</div>

<main class="container">
  
  <!-- Donde se carga cada Componente en funcion de la Ruta -->
  <router-outlet></router-outlet>

</main>
