<div class="row">
    <div class="col">
        <p>Usuario de prueba</p>
        <ul>
        <li>Nombre: <b>admin</b></li>
        <li>Password: <b>12345678</b></li>
        </ul>
    </div>
</div><!-- .row -->

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
            <span *ngIf="mensaje" class="p-3 mb-2 bg-danger text-white">{{mensaje}}</span>
            <div class="card mt-4">
                <div class="card-header">
                    <h2>Acceso Privado</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="formulario" (ngSubmit)="sumitar()" novalidate>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" formControlName="nombre" class="form-control" id="nombre" name="nombre" placeholder="Nombre del usuario">
                            <small *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="form-text text-danger">Minimo 2 letras, Maximo 25 letras</small>
                            <small *ngIf="formulario.controls.nombre.valid && formulario.controls.nombre.touched" class="form-text text-success">Correcto</small> 
                        </div>
                            
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" id="password" name="password" placeholder="Password del usuario">
                            <small *ngIf="formulario.controls.password.invalid && formulario.controls.password.touched" class="form-text text-danger">Minimo 6 letras, Maximo 50 letras</small>
                            <small *ngIf="formulario.controls.password.valid && formulario.controls.password.touched" class="form-text text-success">Correcto</small> 
                        </div>
                            
                        <input type="submit" value="Acceder" class="btn btn-primary btn-block" [disabled]="formulario.status === 'INVALID'">
                    </form>
                </div>
            </div><!-- .card -->
    </div><!-- .col-8 -->
    <div class="col-2"></div>
</div><!-- .row -->